@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

$regular-font: "Raleway";

//sizes

$slogan: 0.9em;
$nav-items: 0.95em;
$nav-items-mobile: 0.8em;
$feature: 0.8em;
$subtext: 1.5em;
$subtext-mobile: 1.2em;
$h1: 4em;
$h1-mobile: 2em;

$article-titles: 1.3em;
$article-titles-lh: 0.9em;
$article-subtitles: 0.9em;
$sidebar-titles: 1em;
$forum-title: 0.95em;
$forum-auth: 0.85em;